@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto+Condensed|Tinos');
//Colors
$orange: #F3A471;
$darkGray: #6E6F71;
$lightGray: #c3ccd5;
$green:  #A0C2BB;
$red: #F07464;

//fonts
$playfair:  'Playfair Display SC', serif;
$roboto:  'Roboto Condensed', sans-serif;
$tinos: 'Tinos', serif;
