
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto+Condensed|Tinos');
//Colors
$orange: #F3A471;
$darkGray: #6E6F71;
$lightGray: #c3ccd5;
$green:  #A0C2BB;
$red: #F07464;

//fonts
$playfair:  'Playfair Display SC', serif;
$roboto:  'Roboto Condensed', sans-serif;
$tinos: 'Tinos', serif;


.animatedPreview {
  background-color: $lightGray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: none;
  margin: 0 0;
  justify-content: center;
  border: none;
  width: 100%;
  overflow: hidden;

  ///////////Reset

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  body {
  	height: 100vh;
  	line-height: 1;
  	width: 100vw;
  }
  ol, ul {
  	list-style: none;
  }
  blockquote, q {
  	quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  	content: '';
  	content: none;
  }
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

///////////End  of reset

  * p {
    font-family: $roboto;
  }

* h3 {
  font-size: 1.2em;
  text-align: left;
  padding: 10px;
  background-color: $orange;
  font-family:  $tinos;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

* h4 {
  background-color: $darkGray;
  border-radius: 5px;
  font-size: 1em;
  display: inline-block;
  font-family: $roboto;
  text-align: center;
  padding: 8px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;

}

* h5 {
  display: inline-block;
  font-style: italic;
  margin-bottom: 5px;
  font-family:  $roboto;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  height: 80px;
  top: 0;
  font-family: $playfair;

  h1 {
    margin: 0 auto;
    padding: 10px 20px;
    border: 2px solid #fff;
    display: inline-block;
    color: #fff;
    font-size: 2em;
    -webkit-box-shadow: 2px 2px 20px -3px #bbb;
    -moz-box-shadow: 2px 2px 20px -3px #bbb;
    box-shadow: 2px 2px 20px -3px #bbb;
  }



  #mpn-contact-anchor {
      position: absolute;
      left: 85%;
      border: 2px solid #fff;
      color: #fff;
      font-size: 1.2em;
      padding: 7px 14px;
      transition: .3s ease;

      &:hover {
        border: 2px solid $darkGray;
        color: $darkGray;
      }

  }

}

#scrollUp {
  height: 40px;
  width: 40px;
  border: 3px solid $darkGray;
  border-radius: 30%;
  color: $darkGray;
  position: fixed;
  top: 80%;
  left: 85%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .5;
  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    display: none;
}

.answer {

  border-radius: 5px;
  box-shadow: none;
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  font-family: $roboto;
  height: 33px;
  margin-left: 10px;
  width: 90px;
  i {
    border-right: 2px solid #fff;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 7px;
  }
  h2 {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    width: 100%;
  }
}
#yes {
  background-color: $green;
}
#no {
  background-color: $red;
}



.idShareHide, .idSellHide, .nonShareHide, .nonSellHide, .privacyHide {
  display: none;
}

.mpn-button {
   width: 100%;
   margin-left: 10px;
   margin-top: 5px;
   text-align: center;
   p {
     color: $darkGray;
     padding: 3px;
     width: 60px;
     border: 2px solid $darkGray;
     border-radius: 3px;
     font-size: 1em;

     &:hover {
       border: 2px solid  black;
       color: black;
     }
   }
}


.mpn-container-styles {
  margin: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 20px -3px #bbb;
  -moz-box-shadow: 2px 2px 20px -3px #bbb;
  box-shadow: 2px 2px 20px -3px #bbb;
}

.mpn-hipaa-container, .mpn-use-container {
  width: 48%;
  border-radius: 3px;
  @extend .mpn-container-styles;

  .hipaa-info, .use-info {
    box-shadow: none;
    padding: 5px;
    font-family:  $tinos;
  }
  .hipaa-info {
    font-size: 1.2em;
  }
  .use-info {
    line-height: 20px;

  }
}

.mpn-id-container, .mpn-nonId-container {
  width: 48%;
  border-radius: 3px;
  @extend .mpn-container-styles;

  .id-share, .id-sell {
    box-shadow: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
  }
  .share-info, .sell-info {
    box-shadow: none;
    padding: 5px;
    line-height: 20px;
  }
}

.mpn-data-storage-container {
  width: 74%;
  border-radius: 3px;
  @extend .mpn-container-styles;

  .local-storage, .third-storage {
    box-shadow: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
  }
}

.mpn-encryption-container {
  width: 97%;
  border-radius: 3px;
  @extend .mpn-container-styles;

  .encrypt-local, .encrypt-third, .encrypt-trans {
    box-shadow: none;
    margin-bottom: 10px;
    font-family:  $tinos;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;

    p {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.mpn-user-access-container {
  width: 22%;
  border-radius: 3px;
  @extend .mpn-container-styles;

  .user-question, .user-options {
    box-shadow: none;
    padding: 10px;
    line-height: 20px;
  }

  #user-qid {
    text-align: center;
    padding-bottom: 0px;
  }
}

.mpn-privacy-container {
  width: 74%;
  border-radius: 3px;
  @extend .mpn-container-styles;

  .privacy-access {
    box-shadow: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
  }
  .privacy-access-info {
    box-shadow: none;
    padding: 5px;
    line-height: 20px;
  }

  .privacy-social {
    box-shadow: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;

    p {
      margin-left: 10px;
    }
  }
}

.mpn-deactivation-container {
  width: 22%;
  border-radius: 3px;
  @extend .mpn-container-styles;

  .deactivation-info {
    box-shadow: none;
    font-size: 1.2em;
    padding: 5px;
  }
}

.mpn-policy-container {
  width: 36%;
  border-radius: 3px;
  @extend .mpn-container-styles;

  .policy-info {
    box-shadow: none;
    padding: 5px;
  }
}

.mpn-breach-container {
  width: 60%;
  border-radius: 3px;
  @extend .mpn-container-styles;

  .breach-info {
    box-shadow: none;
    padding: 5px;
  }
}

.mpn-contact-container {
  width: 80%;
  margin-bottom: 30px;
  border-radius: 3px;
  @extend .mpn-container-styles;

  .contact-info {
    box-shadow: none;
    padding: 5px;
    line-height: 25px;
    font-family: $roboto;

    p {
      display: inline;
      color: $darkGray;
    }
    i {
      font-size: 1.1em;
    }
  }
}

@media only screen and (max-width : 865px) {
.mpn-deactivation-container {
  .deactivation-info {
    font-size: 1em;
  }
}

}

@media only screen and (max-width : 780px) {
  .mpn-id-container, .mpn-nonId-container {
  width: 97%;
}
.mpn-contact-container {
  width: 97%;
}
}

@media only screen and (max-width : 690px) {
  .mpn-hipaa-container, .mpn-use-container, .mpn-contact-container, .mpn-breach-container, .mpn-privacy-container, .mpn-policy-container, .mpn-deactivation-container, .mpn-user-access-container, .mpn-data-storage-container {
    width: 97%;
  }

  .mpn-user-access-container {
    #user-qid {
      text-align: left;
    }
  }

  .animatedPreview {

    #scrollUp {
      display: inherit;
    }
    header {
      height: 50px;
      h1 {
        font-size: 1em;
      }

      #mpn-contact-anchor {
        position: inherit;
        margin-right: 15px;
        font-size: 1em;
      }
    }
  .answer {
    margin-left: 5px;
    width: 80px;
     h2 {
       font-size: 1em;
     }
  }
}
}

}
