
@import "partials/setup/reset";
@import "partials/setup/variables";


* div {
  margin: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 20px -3px #bbb;
  -moz-box-shadow: 2px 2px 20px -3px #bbb;
  box-shadow: 2px 2px 20px -3px #bbb;
}

* h3 {
  font-size: 1.2em;
  text-align: left;
  padding: 10px;
  background-color: $orange;
  font-family:  $tinos;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}

* h4 {
  background-color: $darkGray;
  border-radius: 5px;
  font-size: 1em;
  display: inline-block;
  font-family: $roboto;
  margin-right: 10px;
  text-align: center;
  padding: 8px;
  color: #fff;

}

* h5 {
  display: inline-block;
  border-bottom: 2px solid $darkGray;
  margin-bottom: 5px;
  font-family:  $tinos;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 5px;
  height: 80px;
  top: 0;
  font-family: $playfair;

  p {
    padding: 10px 20px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 2em;
  }
}



.answer-yes {
  background-color: $green;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  padding: 8px 15px;
  font-family: $roboto;

}

.answer-no {
  background-color: $red;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  padding: 8px 15px;
  font-family: $roboto;
}

.animatedPreview{
  background-color: $lightGray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: none;
  margin: 0 0;
  justify-content: center;
  border: none;
}

.hipaa-container, .use-container {
  width: 48%;
  border-radius: 3px;

  .hipaa-info, .use-info {
    box-shadow: none;
    padding: 5px;
    font-family:  $tinos;
  }
}

.id-container, .nonId-container {
  width: 48%;
  border-radius: 3px;

  .id-share, .id-sell {
    box-shadow: none;
  }
  .share-info, .sell-info {
    box-shadow: none;
  }
}

.data-storage {
  width: 48%;
  border-radius: 3px;


  .local-storage, .third-storage {
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.encryption {
  width: 90%;
  border-radius: 3px;

  .encrypt-local, .encrypt-third, .encrypt-trans {
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:  $tinos;

    p {
      display: inline-block;
      margin-left: 10px;
    }
  }
}
